# General
PORT=3000
NODE_ENV=development
API_PREFIX=api
DATABASE_SYNC=true

# Local development
DATABASE_URL=postgres://youruser:yourpassword@localhost:5432/yourdb
REDIS_URL=redis://localhost:6379

# Postgres config for local dev
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdb
POSTGRES_PORT=5432
REDIS_PORT=6379

# Docker URLs 
DATABASE_URL_DOCKER=postgres://youruser:yourpassword@postgres:5432/yourdb
REDIS_URL_DOCKER=redis://redis:6379